main {
    display: grid;
    min-height: 100vh;
    gap: 1vh;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 70vh 15vh;

    grid-template-areas:
        "cabeca cabeca"
        "corpo lateral"
        "rodape rodape";

    background-color: #ffffff;
    border: 1px solid #413f3f;
}

header {
    grid-area: cabeca;
    background-color: #f3f8ff;
    border: 1px solid #413f3f;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "nomeCurso nav";
    align-items: center;

    grid-gap: 5vw;
    padding: 0 10px;
}

.nomeCurso {
    grid-area: nomeCurso;
    width: 50vw;
    height: 8vh;

    background-color: aqua;
    border: 1px solid #413f3f;
}

.infos {
    grid-area: nav;
    width: 38vw;
    height: 8vh;

    display: grid;
    align-items: center;
    grid-template-columns: 10% 18% 18% 18% 28%;

    gap: 2%;

    background-color: #ffffff;
    border: 1px solid #413f3f;

    padding: 0 10px;
}

.infos div {
    justify-content: center;
    align-items: center;

    height: 8vh;

    background-color: #413f3f;
    border: 1px solid #413f3f;
}
section {
    grid-area: corpo;

    display: grid;
    grid-gap: 2vh;
    grid-template-rows: 28vh 6vh 8vh 20vh;
    grid-template-areas: 
        "titulo"
        "explicacao"
        "botao"
        "beneficios";

    background-color: #ffffff;
    border: 1px solid #413f3f;

    padding: 10px;
}

.titulo {
    grid-area: titulo;

    background-color: #c3c4b8;
    border: 1px solid #413f3f;
}

.explicacao {
    grid-area: explicacao;

    background-color: #9b9999;
    border: 1px solid #413f3f;
}

.botao {
    grid-area: botao;

    background-color: #9b9999;
    border: 1px solid #413f3f;
}

.beneficios {
    grid-area: beneficios;

    background-color: #9b9999;
    border: 1px solid #413f3f;
}

aside {
    grid-area: lateral;
    background-color: rgb(228, 211, 243);
    border: 1px solid #413f3f;
}

footer {
    grid-area: rodape;

    display: grid;
    grid-gap: 5px;
    grid-template-rows: 5vh 5vh;
    grid-template-areas:
        "mensagem"
        "outro";
    grid-template-columns: 1fr 1fr;

    background-color: #d0d1c4;
    border: 1px solid #413f3f;
}

.mensagem {
    grid-area: mensagem;

    background-color: #d1cba6;
    border: 1px solid #413f3f;

    width: 90vw;
}

footer div {
    grid-area: outro;
    
    background-color: #cfccb4;
    border: 1px solid #413f3f;

    width: 90vw;
}
