main {
    display: grid;
    min-height: 100vh;
    gap: 1vh;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 70vh 15vh;

    grid-template-areas:
        "cabeca cabeca"
        "corpo lateral"
        "rodape rodape";

    background-color: #ffffff;
    border: 1px solid #413f3f;
}

header {
    grid-area: cabeca;
    background-color: #f3f8ff;
    border: 1px solid #413f3f;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "nomeCurso nav";
    align-items: center;

    grid-gap: 5vw;
    padding: 0 10px;
}

.nomeCurso {
    grid-area: nomeCurso;
    width: 50vw;
    height: 8vh;

    background-color: aqua;
    border: 1px solid #413f3f;
}

.infos {
    grid-area: nav;
    width: 38vw;
    height: 8vh;

    display: grid;
    align-items: center;

    grid-template-columns: 10% 18% 18% 18% 28%;

    gap: 2%;

    background-color: #ffffff;
    border: 1px solid #413f3f;

    padding: 0 10px;
}

.infos div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7vh;

    background-color: #413f3f;
    border: 1px solid #413f3f;
}
section {
    grid-area: corpo;

    display: grid;
    gap: 10px;

    background-color: #ffffff;
    border: 1px solid #413f3f;

    padding: 10px;
}

.titulo {
    background-color: #c3c4b8;
    border: 1px solid #413f3f;
    height: 30vh;
}

.explicacao {
    background-color: #9b9999;
    border: 1px solid #413f3f;
    height: 6vh;
}

.botao {
    background-color: #9b9999;
    border: 1px solid #413f3f;
    height: 8vh;
}

.beneficios {
    background-color: #9b9999;
    border: 1px solid #413f3f;
    height: 20vh;
}

aside {
    grid-area: lateral;
    background-color: rgb(228, 211, 243);
    border: 1px solid #413f3f;
}

footer {
    grid-area: rodape;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    background-color: #d0d1c4;
    border: 1px solid #413f3f;
}

.mensagem {
    background-color: #d1cba6;
    border: 1px solid #413f3f;

    width: 97vw;
    height: 5vh;
}

footer div {
    background-color: #cfccb4;
    border: 1px solid #413f3f;

    width: 97vw;
    height: 5vh;
}
