main {
    display: grid;
    min-height: 100vh;
    gap: 1vh;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 70vh 15vh;

    grid-template-areas:
        "cabeca cabeca"
        "corpo lateral"
        "rodape rodape";

    background-color: #ffffff;
}

/* HEADER */

header {
    grid-area: cabeca;
    background-color: #f3f8ff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}

.nomeCurso {
    width: 40vw;
    height: 8vh;

    background-color: aqua;
}

/* MENU */

.infos {
    width: 38vw;
    height: 8vh;

    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(5, auto);
    grid-template-areas:
        "inicio sobre conteudo depoimentos inscreva";

    gap: 30px;

    background-color: #413f3f;
    color: white;

    padding: 0 20px;
}

/* ITENS */

.span1 { grid-area: inicio; }
.span2 { grid-area: sobre; }
.span3 { grid-area: conteudo; }
.span4 { grid-area: depoimentos; }
.span5 { grid-area: inscreva; }

/* SECTION */

section {
    grid-area: corpo;

    display: grid;
    gap: 10px;

    background-color: #ffffff;

    padding: 10px;
}

.titulo {
    background-color: #c3c4b8;
    height: 30vh;
}

.explicacao {
    background-color: #9b9999;
    height: 6vh;
}

.botao {
    background-color: #9b9999;
    height: 8vh;
}

.beneficios {
    background-color: #9b9999;
    height: 20vh;
}

/* ASIDE */

aside {
    grid-area: lateral;
    background-color: rgb(228, 211, 243);
}

/* FOOTER */

footer {
    grid-area: rodape;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #d0d1c4;
}

.mensagem {
    background-color: #d1cba6;
}

footer div {
    background-color: #cfccb4;
}
